on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
name: build
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
    steps:      
    - uses: act10ns/slack@v1
      with:
        status: starting
        channel: '#test'
      if: always()

    - uses: actions/checkout@v2
    
    - name: Setup Go
      id: setup-go
      uses: actions/setup-go@v1
      with:
        go-version: 1.16
        
    - uses: actions/cache@v2
      id: cache-go-mod
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
         ${{ runner.os }}-go-

    - name: Build
      id: go-build
      run:  go build -v .
    
    - uses: act10ns/slack@v1
      with:
        status: ${{ job.status }}
        steps: ${{ toJson(steps) }}
        channel: '#test'
        config: .github/config/slack.yml
      if: always()
